<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{name}</title>
</head>
<body>
	<h1>{name} {surname}</h1>
	<p>Who are you? {name}</p>
	<p>What's is your surname? {surname}</p>
	<p>How old are you? {age}</p>
	<p>What's your profession? {profession}</p>
</body>
</html>
